* {
  font-family: 'Roboto', sans-serif;
  color: #474747;
}

body, h1, h2, h3 {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 20px;
  padding: 30px 0px;
  width: 100%;
}

h3 {
  padding: 0px;
  font-weight: 400;
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  transition: 0.3s;
}

a:hover, a:hover span, a:hover h2, a:hover h3 {
  color: #888888;
  transition: 0.3s;
}

.full-width {
  width: 100%;
  text-align: center;
  min-width: 490px;
}

.gray {
  background-color: #FAFAFA;
  box-shadow: inset 0px 2px 20px #EEEEEE;
}

.white {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 20px #EEEEEE
}

#title {
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#splash-pic {
  position: relative;
}

#splash-pic img {
  max-width: 100%;
  /* max-height: 470px; */
  /* 1905 x 600
  maintain 600 height until
  1665 x 448
  maintain until
  1266 x 448
  narrowest ratio is 6:19
  fatest ratio is 8:18
  */
}

#subtitle {
  font-size: 24px;
  position: absolute;
  bottom: 0px;

  height: 88px;
  max-height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 700;

  background-color: black;
  opacity: 0.5;

  box-shadow: none;
}



/* portfolio */


#projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 30px 0px;

  margin: 0 auto;
  max-width: 1200px;
}

.project {
  flex: 1 1 442px;
  min-width: 442px;
  max-width: 600px;
  margin: 0px 0px 40px;
  display: flex;
  position: relative;
}

.project-details {
  height: 250;
  text-align: left;
  margin: 0px 24px 0px 14px;
}

.project-title {
  font-size: 18px;
  font-weight: 700;
  /* position: relative; */
}

.github-icon {
  position: relative;
  left: 2px;
  top: 2px;
  max-width: 16px;
  max-height: 16px;
  transition: 0.3s;
}

.github-icon:hover {
  opacity: 0.5;
  transition: 0.3s;
}

#projects-container img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.project-desc {
  margin-top: 16px;
}


/* tech stack */

#tech-stack {
}

#tech-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0 auto;
  max-width: 1200px;
}

#tech-pics img {
  padding: 0px 10px 40px;
  max-width: 80px;
  max-height: 80px;
}


/* about me and contact */

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me h2 {
  padding: 30px 0px 0px;
}

#about-me p {
  max-width: 800px;
  max-height: 100px;
  padding: 10px 0px 30px;
}

#contact {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

#contact h2 {
  padding-bottom: 20px;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  padding-top: 30px;
}

.link-icon {
  max-width: 32px;
  max-height: 32px;
  transition: 0.3s;
}

.link-icon:hover {
  opacity: 0.5;
  transition: 0.3s;
}
